.home-category {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.home-category-main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.home-category-actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 25px;
    padding: 4px;
}

.home-category-post-container {
    display: flex;
    flex-direction: row;
}

.home-category-post {

}

.home-category-post-votes {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 4px;
}

.home-category-post-chevron-up {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-category-post-amount {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-category-post-chevron-down {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-category-post-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-category-post-category-join {

}

.home-category-post-category-name {

}

.home-category-post-view {
}

.home-category-post-view-action {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.home-category-post-view-body {
}

.home-category-post-view-comments {
}

.home-category-post-view-hide {
}

.home-category-post-view-report {
}

.home-category-post-view-save {
}

.home-category-post-view-share {
}

.home-category-post-view-report {

}

.home-category-side-nav {
    background: red;
    width: 250px;
    height: 500px;
}
