@import url(https://fonts.googleapis.com/css?family=Nunito);.home-category {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.home-category-main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.home-category-actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 25px;
  padding: 4px;
}

.home-category-post-container {
  display: flex;
  flex-direction: row;
}

.home-category-post-votes {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 4px;
}

.home-category-post-chevron-up {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-category-post-amount {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-category-post-chevron-down {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-category-post-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-category-post-view-action {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.home-category-side-nav {
  background: red;
  width: 250px;
  height: 500px;
}

.nav-container {
  padding: 0 24px;
  height: 60px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}

.nav-action-container {
  display: flex;
  align-items: center;
}

#logout-form-nav {
  display: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.body-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-content {
  display: flex;
  flex: 1;
  justify-content: center;
}

.main-content-force-width {
  max-width: 1020px;
}

.base-btn,
.btn-outline,
.btn {
  font-weight: normal;
  display: inline-block;
  margin: 0 4px;
  padding: 6px 12px;
  text-align: center;
  cursor: pointer;
  transition: all 0.25s;
  box-sizing: border-box;
  min-height: 30px;
  text-decoration: none;
}

.btn {
  border: none;
  color: #fff;
  background: #42b983;
}

.btn .d-icon {
  transition: color 0.25s;
}

.btn:active,
.btn.btn-active {
  text-shadow: none;
}

.btn[disabled],
.btn.disabled {
  cursor: default;
  opacity: 0.4;
}

.btn .fa {
  margin-right: 7px;
}

.btn.no-text .fa {
  margin-right: 0;
}

.btn.hidden {
  display: none;
}

.btn:hover {
  background: #359469;
}

.btn-outline {
  border: 1px solid #6c757d;
  color: #42b983;
  background: transparent none;
}

.btn-outline .d-icon {
  transition: color 0.25s;
}

.btn-outline:active,
.btn-outline.btn-active {
  text-shadow: none;
}

.btn-outline[disabled],
.btn-outline.disabled {
  cursor: default;
  opacity: 0.4;
}

.btn-outline .fa {
  margin-right: 7px;
}

.btn-outline.no-text .fa {
  margin-right: 0;
}

.card {
  padding: 4px 0 4px 4px;
  min-width: 0;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin: 4px 0px;
}

