@import url(https://fonts.googleapis.com/css?family=Nunito);html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.nav-container {
  padding: 0 24px;
  height: 60px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}

.nav-action-container {
  display: flex;
  align-items: center;
}

#logout-form-nav {
  display: none;
}

.btn {
  border: none;
  font-weight: normal;
  color: #fff;
  background: #42b983;
  display: inline-block;
  margin: 0 4px;
  padding: 6px 12px;
  text-align: center;
  cursor: pointer;
  transition: all 0.25s;
  box-sizing: border-box;
  min-height: 30px;
  text-decoration: none;
}

.btn .d-icon {
  transition: color 0.25s;
}

.btn:active,
.btn.btn-active {
  text-shadow: none;
}

.btn[disabled],
.btn.disabled {
  cursor: default;
  opacity: 0.4;
}

.btn .fa {
  margin-right: 7px;
}

.btn.no-text .fa {
  margin-right: 0;
}

.btn.hidden {
  display: none;
}

.btn:hover {
  background: #359469;
}

