.btn {
    border: none;
    font-weight: normal;
    color: #fff;
    background: #42b983;
    display: inline-block;
    margin: 0 4px;
    padding: 6px 12px;
    text-align: center;
    cursor: pointer;
    transition: all 0.25s;
    box-sizing: border-box;
    min-height: 30px;
    text-decoration: none;

    .d-icon {
        transition: color 0.25s;
    }
    &:active,
    &.btn-active {
        text-shadow: none;
    }
    &[disabled],
    &.disabled {
        cursor: default;
        opacity: 0.4;
    }
    .fa {
        margin-right: 7px;
    }
    &.no-text {
        .fa {
            margin-right: 0;
        }
    }
}

.btn.hidden {
    display: none;
}

.btn:hover {
    background: #359469;
}
