html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.body-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-content {
    display: flex;
    flex: 1;
    justify-content: center;
}

.main-content-force-width{
    max-width: 1020px;
}
